In [3]:
import mysql.connector

## creating a database

In [4]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    passwd = "yourpassword"
)

mycursor = mydb.cursor()

mycursor.excute("CREATE DATABASE mydatabase")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost' (61)

## Check if Database exits

In [6]:
for x in mycursor:
    print(x)

NameError: name 'mycursor' is not defined

### connecting to the database "mydatabase"

In [7]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    passwd = "yourpassword",
    database = "mydatabase"
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost' (61)

### Creating a Table

In [8]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255),address VARCHAR(255))")

# check if table exit
mycursor.excute("SHOW TABLE")

for x in mycursor:
    print(x)

# set Primary Key
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),address VARCHAR (255))")

# create primary key to an exiting table
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

NameError: name 'mydb' is not defined

### Insert into Table

In [9]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql,val)

NameError: name 'mycursor' is not defined

`mydb.commit()` is required to make the changes, otherwise no changes are made to the table.

## Delete Record

In [10]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

# using %s placeholder to escape values in the delete statement

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

NameError: name 'mycursor' is not defined

## Delete Table

In [11]:
sql = "DROP TABLE customers"

mycursor.execute(sql)

NameError: name 'mycursor' is not defined

 Delete the table `customers` if it exits

In [12]:
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

NameError: name 'mycursor' is not defined

## Update Table

update table by using `UPDATE SET` method

In [14]:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

NameError: name 'mycursor' is not defined