In [3]:
import mysql.connector

## creating a database

In [18]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "123456"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

## Check if Database exits

In [20]:
mycursor = mydb.cursor()

for x in mycursor:
    print(x)

### connecting to the database "mydatabase"

In [21]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "123456",
    database = "mydatabase"
)

### Creating a Table

In [26]:
mycursor = mydb.cursor()
# mycursor.execute("CREATE TABLE customers (name VARCHAR(255),address VARCHAR(255))")

# check if table exit
#mycursor.execute("SHOW TABLE customers")

for x in mycursor:
    print(x)

# set Primary Key
#mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),address VARCHAR (255))")

# create primary key to an exiting table
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

### Insert into Table

In [29]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql,val)

mydb.commit()

In [32]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql,val)
mydb.commit()

`mydb.commit()` is required to make the changes, otherwise no changes are made to the table.

## Delete Record

In [33]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

# using %s placeholder to escape values in the delete statement

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

## Delete Table

In [16]:
mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

 Delete the table `customers` if it exits

In [34]:
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

## Update Table

update table by using `UPDATE SET` method

In [14]:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

NameError: name 'mycursor' is not defined