In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
rng = np.random.RandomState(42)

### The concat method

In [4]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [6]:
pd.concat([ser1, ser2],axis = 1)

     0    1
1    A  NaN
2    B  NaN
3    C  NaN
4  NaN    D
5  NaN    E
6  NaN    F

In [18]:
def make_df(string, array):
    data = []
    for num in array:
        temp = []
        for s in string:
            temp.append(s+str(num))
        data += [temp]
    return pd.DataFrame(data = data,columns = list(string),index = array)

In [19]:
df1 = make_df("AB",[1,2])
df2 = make_df("AB",[3,4])

In [20]:
pd.concat([df1, df2])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [29]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3); print(df4); print(pd.concat([df3, df4], axis=1))

    A   B
0  A0  B0
1  A1  B1
    C   D
0  C0  D0
1  C1  D1
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [32]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
pd.concat([x, y])

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [35]:
pd.concat([x,y], keys = ['x','y'])

      A   B
x 0  A0  B0
  1  A1  B1
y 2  A2  B2
  3  A3  B3

In [40]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
pd.concat([df5, df6]).dropna(axis = 1)

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [42]:
pd.concat([df5,df6], join = 'inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [43]:
pd.concat([df5,df6], join_axes=[df5.columns])

     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

### The append() method

In [44]:
df1.append(df2)

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [45]:
df1

    A   B
1  A1  B1
2  A2  B2